@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: "Oxygen";
    src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: "Oxygen";
    src: url(../fonts/Oxygen/Oxygen-Bold.ttf);
    font-weight: 700;
}